<div class="status-filter-container">
    <b class="text-gray">Filtrar por visibilidade no site:</b>
    <ul class="status-filter flex-wrap items-filter mt-2 w-100">
        <!-- <li [id]="'statusFilter' + i" [ngClass]="i == 0 ? 'active' : null" class="status-filter-li px-0" *ngFor="let op of statusFilterOp; let i = index" (click)="setVisibilityFilter(op.value, i)"> -->

        <div class="d-flex justify-content-around align-items-center">
            <div class="col-auto">
                <span>
                    <!-- {{op.name}} -->
                </span>
            </div>
        </div>
        <!-- </li> -->
    </ul>
</div>
<h2 style="text-align:center">Médicos</h2>
<div>
    <button routerLink="/pacientes">
        <h3>Pacientes</h3>
    </button>
</div>
<!-- class="doctors-container" -->
<div class="d-flex justify-content-around align-items-center">
    <div *ngFor="let doc of docInfos" class="group">
        <div>
            <p><b>Nome :</b>{{doc.name}}</p>
            <p><b>crm :</b> {{doc.crm}}</p>
            <p><b>crmUf: </b>{{doc.crmUf}}</p>
        </div>
        <div>
            <div class="col-auto pl-0 text-blue remove-status">
                <img (click)="editDoc(doc)" class="icon" src="assets/icons/edit.svg">
            </div>
            <div class="col-auto pl-0 text-blue remove-status">
                <img routerLink="/editar-doutor/adicionar-doutor" class="icon" src="assets/icons/add.svg">
            </div>
            <div class="col-auto pl-0 text-blue remove-status">
                <img class="icon" src="assets/icons/bin.svg">
            </div>
        </div>
    </div>
</div>

<!-- <div *ngFor="let doc of doctorsData">
    <span> {{doc.name}}</span>
    <span> {{doc.crmUf}}</span>
    <span> {{doc.crm}}</span>
</div> -->