<form class="default-form" *ngIf="formExihibit == true" [formGroup]="patientForm"
  (ngSubmit)="updatePatient(patientForm)">
  <div>
    <span class="title">Alterar dados de paciente</span>
  </div>
  <div class="form-inputs-positioning">
    <div class="default-page">
      <div>
        <label for="name">Nome Completo:</label>
        <div>
          <input type="text" id="name" placeholder="Insira o nome completo" formControlName="name" required nam>
        </div>
      </div>
      <div class="inputs">
        <label for="birthDate">Data de nascimento:</label>
        <div>
          <input type="date" id="birthDate" placeholder="Digite sua data de nascimento" formControlName="birthDate"
            required>
        </div>
      </div>
      <div class="inputs">
        <label for="cpf">CPF:</label>
        <div>
          <input type="cpf" id="cpf" mask="000.000.000-00" placeholder="Digite o seu cpf" formControlName="cpf"
            required>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <button type="submit" class="default-button">Editar Paciente</button>
  </div>
</form>

<form class="default-form" *ngIf="formExihibit !== true" [formGroup]="patientForm"
  (ngSubmit)="createPatient(patientForm)">
  <div>
    <span class="title">Adicionar paciente</span>
  </div>
  <div class="form-inputs-positioning">
    <div class="default-page">
      <div class="inputs">
        <label for="name">Nome Completo</label>
        <div>
          <input type="text" id="name" placeholder="Insira o nome completo" required name formControlName="name">
        </div>
      </div>
      <div>
        <label for="birthDate" class="form-label">Data de nascimento:</label>
        <div>
          <input id="birthDate" type="date" placeholder="Digite sua data de nascimento" required birthDate
            formControlName="birthDate">
        </div>
      </div>
      <div>
        <label for="cpf" class="form-label">CPF:</label>
        <div>
          <input type="cpf" id="cpf" class="form-select" mask="000.000.000-00" placeholder="Digite o seu cpf" required
            cpf formControlName="cpf">
        </div>
      </div>
      <div>
        <label for="doctorId" class="form-label">Doutores:</label>
        <div>
          <select formControlName="doctorId" class="form-select" id="doctorId" required>
            <option *ngFor="let doc of doctorsList" [value]="doc.id">{{doc?.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <button type="submit" class="default-button">Adicionar Paciente</button>
  </div>
</form>
