<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
</div>
<h2 style="text-align:center">Médicos</h2>
<div>
    <button routerLink="/pacientes">
        <h3>Pacientes</h3>
    </button>
</div>
<div class="doctors-container">
    <div *ngFor="let doc of docInfos" class="group">
        <p><b>Nome :</b>{{doc.name}}</p>
        <p><b>crm :</b> {{doc.crm}}</p>
        <p><b>crmUf: </b>{{doc.crmUf}}</p>
    </div>
</div>

<!-- <div *ngFor="let doc of doctorsData">
    <span> {{doc.name}}</span>
    <span> {{doc.crmUf}}</span>
    <span> {{doc.crm}}</span>
</div> -->